%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
= wicked_pdf_stylesheet_link_tag "pdf"
%body.bodyReporte
  %h1 Escuela Calle Liles
  %hr

  - if @start_date && @end_date
    %h2 Reporte de registros desde #{@start_date.strftime('%d-%m-%Y')} hasta #{@end_date.strftime('%d-%m-%Y')}
  - else
    %h2 Reporte de registros
  %ul
    %li.liReporte
      %strong
        Generado por: 
      #{current_user.full_name} 
  %br

  %h3 Registros
  .table-responsive
    %table#dataTable.table.table-bordered.tableReporte{cellspacing: '0', width: '100%'}
      %thead
        %tr.trReporte
          %th.thReporte{scope: 'col'} Usuario
          %th.thReporte Cédula
          %th.thReporte Tipo
          %th.thReporte Fecha
          %th.thReporte Hora
      %tbody
        - @registries.each_with_index do |registry, i|
          %tr.trReporte{class: ('trReporte-color' if i.even?)}
            %td.tdReporte.align-middle.col-md-3=registry.user.full_name
            %td.tdReporte.align-middle.col-md-3=registry.user.id_number
            %td.tdReporte.align-middle.col-md-2=registry.registry_type.capitalize
            %td.tdReporte.align-middle.col-md-2=registry.created_at.strftime('%d-%m-%Y')
            %td.tdReporte.align-middle.col-md-2=registry.created_at.strftime('%l:%M %p')
          - unless registry.notes.empty?
            %tr.trReporte{class: ('trReporte-color' if i.even?)}
              %td.tdReporte.align-middle{colspan: 5}="Notes: #{registry.notes}"
