= render 'admin/layouts/header'
#wrapper
  = render 'admin/layouts/sidebar'
  #content-wrapper
    .container-fluid
      / Breadcrumbs
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to 'Registros de entrada y salida', admin_registries_path
        %li.breadcrumb-item.active Todos
      .card.mb-3
        .card-header
          = form_tag(admin_registries_path, method: :get) do
            .row.justify-content-between
              .col-3.align-self-center
                = label_tag 'Fecha inicial:'
                = text_field_tag :start_date, params[:start_date], class: 'form-control input-sm datepicker', input_html: {"data-provide" => "datepicker", type: "text"}
              .col-3.align-self-center
                = label_tag 'Fecha final:'
                = text_field_tag :end_date, params[:end_date], class: 'form-control input-sm datepicker', input_html: {"data-provide" => "datepicker", type: "text"}
              .col-3.align-self-center
                = submit_tag 'Buscar', class: 'btn btn-primary btn-block float-right'
                = link_to 'Generar PDF', admin_registries_path(format: :pdf, start_date: params[:start_date], end_date: params[:end_date]), target: :_blank, class: 'btn btn-danger btn-block float-right'
            .col-3
      .card.mb-3
        .card-header
          .row.justify-content-between
            .col-3.align-self-center
              %i.fas.fa-table
              Lista de Registros
            .col-3
        .card-body
          .table-responsive
            %table#dataTable.table{:cellspacing => "0", :width => "100%"}
              %thead
                %tr
                  %th Usuario
                  %th Cédula
                  %th Tipo
                  %th Fecha
                  %th Hora
              %tbody
                - @registries.each do |registry|
                  %tr{class: ('no-border' unless registry.notes.empty?)}
                    %td.align-middle.col-md-3=registry.user.present? ? registry.user.full_name : registry.user_name
                    %td.align-middle.col-md-3=registry.user.present? ? registry.user.id_number : registry.user_id_number
                    %td.align-middle.col-md-2=registry.registry_type.capitalize
                    %td.align-middle.col-md-2=registry.created_at.strftime('%d-%m-%Y')
                    %td.align-middle.col-md-2=registry.created_at.strftime('%l:%M %p')
                  - unless registry.notes.empty?
                    %tr.no-border
                      %td.align-middle.no-border{colspan: 5}="Notes: #{registry.notes}"

= render 'admin/layouts/footer'
:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
