= render 'admin/layouts/header'
#wrapper
  = render 'admin/layouts/sidebar'
  #content-wrapper
    .container-fluid
      / Breadcrumbs
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to 'Registros de entrada y salida', admin_registries_path
        %li.breadcrumb-item.active Todos
      .card.mb-3
        .card-header
          = form_tag(admin_registries_path, method: :get) do
            .row.justify-content-between
              .col-3.align-self-center
                = label_tag 'Fecha inicial:'
                = text_field_tag "search[start_date]", nil, class: 'form-control input-sm datepicker', input_html: {"data-provide" => "datepicker", type: "text"}
              .col-3.align-self-center
                = label_tag 'Fecha final:'
                = text_field_tag "search[end_date]", nil, class: 'form-control input-sm datepicker', input_html: {"data-provide" => "datepicker", type: "text"}
              .col-3.align-self-center
                = submit_tag 'Buscar'
            .col-3
      .card.mb-3
        .card-header
          .row.justify-content-between
            .col-3.align-self-center
              %i.fas.fa-table
              Lista de Registros
            .col-3
        .card-body
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
              %thead
                %tr
                  %th Usuario
                  %th Cédula
                  %th Tipo
                  %th Fecha / Hora
                  %th Notas
              %tbody
                - @registries.each do |registry|
                  %tr
                    %td.align-middle=registry.user.full_name
                    %td.align-middle=registry.user.id_number
                    %td.align-middle=registry.registry_type
                    %td.align-middle=registry.created_at.strftime('%d-%m-%Y - %l:%M %p')
                    %td.align-middle=registry.try(:notes)

= render 'admin/layouts/footer'
:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
