= render 'admin/layouts/header'
#wrapper
  = render 'admin/layouts/sidebar'
  #content-wrapper
    .container-fluid
      / Breadcrumbs
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to 'Usuarios', admin_users_path
        %li.breadcrumb-item
          = link_to "#{@user.first_name} #{@user.last_name}", admin_user_path(@user)
        %li.breadcrumb-item.active Editar
      = render 'form'

= render 'admin/layouts/footer'
